@page
@model SGE.App.Frontend.Pages.CalificacionEditModel
@{
}
<div class="row">
    <div class="col-10">
        <h1>Calificacion:@Model.Calificacion.Nombre</h1>
    </div>
    <div class="col-2 text-right">
        <a class="btn btn-primary" data-toggle="tooltip" data-placement="top" title="Listar" asp-page="./CalificacionList">
            <i class="fas fa-list-ul"></i>
        </a>
    </div>
</div>
<form method="post" action="">
    <input type="hidden" asp-for="Calificacion.Id">
    <div class="form-group">
        <label asp-for="Calificacion.Grupo"></label>
        <select asp-for="GrupoId" name="GrupoId" class="form-control" asp-items="Model.listaGrupos">
            <option>--- Seleccione un Grupo ---</option>
        </select>
        <span asp-validation-for="Calificacion.Grupo" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Calificacion.Nombre"></label>
        <input asp-for="Calificacion.Nombre" class="form-control">
    </div>
    <div class="form-group">
        <label asp-for="Calificacion.VrPonderado"></label>
        <input asp-for="Calificacion.VrPonderado" class="form-control">
    </div>
    <button type="submit" class="btn btn-primary btn-block" data-toggle="tooltip" data-placement="top" title="Guardar">
        <i class="fas fa-2x fa-save"></i>        
    </button>
</form>