@page
@model SGE.App.Frontend.Pages.DeptoEditModel
@{
}
<div class="row">
    <div class="col-10">
        <h1>Departamento</h1>
    </div>
    <div class="col-2 text-right">
        <a class="btn btn-primary" data-toggle="tooltip" data-placement="top" title="Listar" asp-page="./DepartamentoList">
            <i class="fas fa-list-ul"></i>
        </a>
    </div>
</div>
<form method="post" action="">
    <input type="hidden" asp-for="Departamento.Id">
    <div class="form-group">
        <label asp-for="Departamento.Nombre"></label>
        <input asp-for="Departamento.Nombre" class="form-control">
        <span asp-validation-for="Departamento.Nombre" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary btn-block" data-toggle="tooltip" data-placement="top" title="Guardar">
        <i class="fas fa-2x fa-save"></i>        
    </button>
</form>
