@page
@model SGE.App.Frontend.Pages.DeptoListModel
@{
}

<div class="row">
    <div class="col-10">
        <h1>Lista Departamentos</h1>
    </div>
    <div class="col-2 text-right">
        <a class="btn btn-primary" data-toggle="tooltip" data-placement="top" title="Crear" asp-page="">
            <i class="fas fa-plus"></i>
        </a>
    </div>
</div>
<table class="table table-striped">
    <thead class="table-dark">
        <tr>
            <th>Id</th>
            <th>Nombre</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var d in Model.Departamentos)
        {
            <tr>
                <td>@d.Id</td>
                <td>@d.Nombre</td>
                <td>
                    <a class="btn btn-primary table-btn" data-toggle="tooltip" data-placement="top" title="Ver" asp-page="" asp-route-departamentoId="@d.Id">
                        <i class="fas fa-eye"></i>
                    </a>
                    <a class="btn btn-primary table-btn" data-toggle="tooltip" data-placement="top" title="Editar" asp-page="" asp-route-departamentoId="@d.Id">
                        <i class="fas fa-edit" aria-hidden="true"></i>
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>

