@page
@model SGE.App.Frontend.Pages.DeptoEditModel
@{
}

<h1>Departamento:@Model.Departamento.Nombre</h1>
<form method="post" action="">
    <input type="hidden" asp-for="Departamento.Id">
    <div class="form-group">
        <label asp-for="Departamento.Nombre"></label>
        <input asp-for="Departamento.Nombre" class="form-control">
    </div>
    <div class="col-12">
        <nav class="navbar navbar-light bg-light">
            <a asp-page="./DeptoList" class="btn btn-primary" data-toggle="tooltip" data-placement="top" title="Listar">
                <i class="fas fa-list-ul"></i>
            </a>
            <button type="submit" class="btn btn-primary" data-toggle="tooltip" data-placement="top" title="Guardar">
                <i class="fas fa-save"></i>        
            </button>
        </div>
    </div>
</form>

