@page
@model SGE.App.Frontend.Pages.HorarioEditModel
@{
}

<div class="row">
    <div class="col-10">
        <h1>Horario:@Model.Horario.DiaSemana</h1>
    </div>
    <div class="col-2 text-right">
        <a class="btn btn-primary" data-toggle="tooltip" data-placement="top" title="Listar" asp-page="./HorarioList">
            <i class="fas fa-list-ul"></i>
        </a>
    </div>
</div>
<form method="post" action="">
    <input type="hidden" asp-for="Horario.Id">

    <div class="form-group">
        <label asp-for="Horario.Grupo"></label>
        <select asp-for="GrupoID" name="GrupoID" class="form-control" asp-items="Model.listaGrupos">
            <option>--- Seleccione un Grupo ---</option>
        </select>
        <span asp-validation-for="Horario.Grupo" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Horario.DiaSemana"></label>
        <input asp-for="Horario.DiaSemana" class="form-control">
    </div>

    <div class="form-group">
        <label asp-for="Horario.HoraInicial"></label>
        <input asp-for="Horario.HoraInicial" class="form-control">
    </div>

    <div class="form-group">
        <label asp-for="Horario.HoraFinal"></label>
        <input asp-for="Horario.HoraFinal" class="form-control">
    </div>
        <button type="submit" class="btn btn-primary btn btn-block" data-toggle="tooltip" data-placement="top" title="Guardar">
            <i class="fas fa-2x fa-save"></i>        
        </button>
    </div>
</form>