@page
@model SGE.App.Frontend.Pages.MatriculaDetailModel
@{
}

<div class="row">
    <div class="col-10">
        <h1>Matricula</h1>
    </div>
    <div class="col-2 text-right">
        <a class="btn btn-primary" data-toggle="tooltip" data-placement="top" title="Listar" asp-page="./MatriculaList">
            <i class="fas fa-list-ul"></i>
        </a>
    </div>
</div>
<div class=row>
    <div class=col-4>
        <table class="table table-striped table-bordered">
            <tbody>
                <tr>
                    <td>Id</td>
                    <td>@Model.Matricula.Id</td>
                </tr>
                <tr>
                    <td>Grupo</td>
                    <td>@Model.Matricula.Grupo.Nombre</td>
                </tr>
                <tr>
                    <td>Estudiante</td>
                    <td>
                        @Model.Matricula.Estudiante.Nombre
                        @Model.Matricula.Estudiante.Apellidos
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
