@page
@model SGE.App.Frontend.Pages.MunicipioDetailModel
@{
}
<h1>Municipio</h1>
<div class=col-3>
    <table>
        <tbody>
            <tr>
                <td class="table-secondary">Id</td>
                <td>@Model.Municipio.Id</td>
            </tr>
            <tr>
                <td class="table-secondary">Nombre</td>
                <td>@Model.Municipio.Nombre</td>
            </tr>
            <tr>
                <td class="table-secondary">Departamento</td>
                <td>@Model.Municipio.Departamento</td>
            </tr>
        </tbody>
    </table>
</div>