@page
@model SGE.App.Frontend.Pages.MunicipioEditModel
@{
}
<div class="row">
    <div class="col-10">
        <h1>Municipio:@Model.Municipio.Nombre</h1>
    </div>
    <div class="col-2 text-right">
        <a class="btn btn-primary" data-toggle="tooltip" data-placement="top" title="Listar" asp-page="./MunicipioList">
            <i class="fas fa-list-ul"></i>
        </a>
    </div>
</div>
<form method="post" action="">
    <input type="hidden" asp-for="Municipio.Id">
    <div class="form-group">
        <label asp-for="Municipio.Nombre"></label>
        <input asp-for="Municipio.Nombre" class="form-control">
        <span asp-validation-for="Municipio.Nombre" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Municipio.Departamento"></label>
        <select asp-for="DeptoID" name="DeptoID" class="form-control" asp-items="Model.listaDepartamentos">
            <option>--- Seleccione un Departamento ---</option>
        </select>
        <span asp-validation-for="Municipio.Departamento" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary btn-block" data-toggle="tooltip" data-placement="top" title="Guardar">
        <i class="fas fa-2x fa-save"></i>        
    </button>
</form>
