@page
@model SGE.App.Frontend.Pages.NotaEditModel
@{
}

<div class="row">
    <div class="col-10">
        <h1>Nota</h1>
    </div>
    <div class="col-2 text-right">
        <a class="btn btn-primary" data-toggle="tooltip" data-placement="top" title="Listar" asp-page="./NotaList">
            <i class="fas fa-list-ul"></i>
        </a>
    </div>
</div>
<form method="post" action="">
    <input type="hidden" asp-for="Nota.Id">

    <div class="form-group">
        <label asp-for="Nota.Valor"></label>
        <input asp-for="Nota.Valor" class="form-control">
    </div>

    <div class="form-group">
        <label asp-for="Nota.Calificacion"></label>
        <select asp-for="CalificacionId" name="CalificacionId" class="form-control" asp-items="Model.listaCalificaciones">
            <option>--- Seleccione una Calificacion ---</option>
        </select>
        <span asp-validation-for="Nota.Calificacion" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Nota.Estudiante"></label>
        <select asp-for="EstudianteId" name="EstudianteId" class="form-control" asp-items="Model.listaEstudiantes">
            <option>--- Seleccione un Estudiante ---</option>
        </select>
        <span asp-validation-for="Nota.Estudiante" class="text-danger"></span>
    </div>

        <button type="submit" class="btn btn-primary btn btn-block" data-toggle="tooltip" data-placement="top" title="Guardar">
            <i class="fas fa-2x fa-save"></i>        
        </button>
    </div>
</form>