@page
@model SGE.App.Frontend.Pages.NotaEditModel
@{
}

<div class="row">
    <div class="col-10">
        <h1>Nota</h1>
    </div>
    <div class="col-2 text-right">
        <a class="btn btn-primary" data-toggle="tooltip" data-placement="top" title="Listar" asp-page="./NotaList">
            <i class="fas fa-list-ul"></i>
        </a>
    </div>
</div>
<form method="post" action="">
    <input type="hidden" asp-for="Nota.Id">
    <div class="form-group">
        <label asp-for="Nota.Estudiante"></label>
        <select asp-for="EstudianteId" name="EstudianteId" class="form-control" asp-items="Model.listaEstudiantes">
            <option>--- Seleccione un Estudiante ---</option>
        </select>
        <span asp-validation-for="Nota.Estudiante" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Nota.Grupo"></label>
        <select asp-for="GrupoId" name="GrupoId" class="form-control" asp-items="Model.listaGrupos">
            <option>--- Seleccione un Grupo ---</option>
        </select>
        <span asp-validation-for="Nota.Grupo" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Nota.Nota1"></label>
        <input asp-for="Nota.Nota1" class="form-control">
    </div>
    <div class="form-group">
        <label asp-for="Nota.Nota2"></label>
        <input asp-for="Nota.Nota2" class="form-control">
    </div>
    <div class="form-group">
        <label asp-for="Nota.Nota3"></label>
        <input asp-for="Nota.Nota3" class="form-control">
    </div>
    <div class="form-group">
        <label asp-for="Nota.Nota4"></label>
        <input asp-for="Nota.Nota4" class="form-control">
    </div>
    <div class="form-group">
        <label asp-for="Nota.Nota5"></label>
        <input asp-for="Nota.Nota5" class="form-control">
    </div>
    <button type="submit" class="btn btn-primary btn btn-block" data-toggle="tooltip" data-placement="top" title="Guardar">
        <i class="fas fa-2x fa-save"></i>        
    </button>
</form>