@page
@model SGE.App.Frontend.Pages.RolDetailModel
@{
}
<div class="row">
    <div class="col-10">
        <h1>Rol:@Model.Rol.Nombre</h1>
    </div>
    <div class="col-2 text-right">
        <a class="btn btn-primary" data-toggle="tooltip" data-placement="top" title="Listar" asp-page="./RolList">
            <i class="fas fa-list-ul"></i>
        </a>
    </div>
</div>
<div class=row>
    <div class=col-4>
        <table class="table table-striped table-bordered">
            <tbody>
                <tr>
                    <td>Id</td>
                    <td>@Model.Rol.Id</td>
                </tr>
                <tr>
                    <td>Nombre</td>
                    <td>@Model.Rol.Nombre</td>
                </tr>
                <tr>
                    <td>Codigo</td>
                    <td>@Model.Rol.Codigo</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>