@page
@model SGE.App.Frontend.Pages.CambioContrasenaModel
@{
}

<body>
    <div class="login-box col-4 offset-md-4">    
        <h1 class="text-center">Cambia tu contraseña</h1>
        <form method="post" action="">
            
            <div class="form-group">
                <label>Nueva contraseña</label>
                <input class="form-control" type="password" asp-for="NewPassword">
            </div>

            <div class="form-group">
                <label>Confirmar nueva contraseña</label>
                <input class="form-control" type="password" asp-for="NewPasswordConfirm">
                <span class = "text-danger">@Model.Mensaje</span>
            </div>

            <div class="form-group">
                <input class= "btn btn-primary btn-block" type="submit" value="Cambiar Contrsena">
            </div>
        </form>
    </div>
</body>